@import './../../style/mixins.scss';
@import './../../style/constants.scss';

.container {
  @include container;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .control {
    width: 100%;
    padding-top: 2rem;
    display: flex;

    .name {
      align-self: center;
      font-size: 3rem;

      @include respond(tablet) {
        font-size: 2rem;
      }
    }

    .backBtn {
      cursor: pointer;
      margin-left: auto;
      padding: 1rem;
      background-color: $secondary-color-light;

      &:hover {
        color: $main-color;
        background-color: $secondary-color;
        border-radius: 10px;
      }
    }
  }

  .infoList {
    list-style: none;
    display: flex;
    gap: 5rem;
    font-size: 2rem;

    @include respond(tablet) {
      gap: 2.5rem;
      font-size: 1.5rem;
    }

    @include respond(mobile) {
      gap: 1.5rem;
      font-size: 1.5rem;
    }
  }

  .form {
    display: flex;
    gap: 2rem;
  }

  .error {
    font-size: 2rem;
    color: red;
  }
}
