$main-color: #e6e6e6;
$secondary-color: rgb(25, 118, 210);
$secondary-color-light: rgb(126, 191, 255);
$warning-color: #ed6c02;
$warning-color-light: #f29a52;
$background-table: #ebecf0;

$large-screen-width: 1200px;
$desktop-width: 1025px;
$laptop-width: 769px;
$tablet-width: 481px;
$mobile-width: 320px;
