@import './../../style/constants.scss';
@import './../../style/mixins.scss';

.footer {
  background-color: $secondary-color;
  font-size: 2rem;
  color: $main-color;

  @include respond(tablet) {
    font-size: 1.5rem;
  }

  .container {
    @include container;
    display: flex;
    justify-content: center;
  }
}
