@import './../../style/constants.scss';

.tableRow {
  // display: flex;
  // // justify-content: space-between;
  cursor: pointer;
  background-color: white;
  box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
  border: 3rem solid $background-table;
  border-radius: 3px;
  transform: scale(1);

  .tableCell {
    padding: 1.5rem;
    text-align: center;
  }

  .addButton {
    cursor: pointer;
    font-size: 2rem;
    background-color: $secondary-color-light;
    padding: 1rem 2rem;

    &:hover {
      background-color: $secondary-color;
      border-radius: 10px;
    }
  }
}
