@import './../../../../style/mixins.scss';
@import './../../../../style/constants.scss';

.modal {
  @include modal;

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    padding: 2rem 10rem;
    font-size: 2rem;

    .img {
      position: relative;
      top: -7rem;
      width: 10rem;
      height: 10rem;
      padding-bottom: -5rem;
    }

    .totalSum {
      font-size: 3rem;
    }

    .currencyList {
      max-height: 350px;
      overflow-y: scroll;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .listItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
      }
    }
  }
}
